  <config>
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
      <router operation ="replace">
        {% if host.facts.ospf is defined %}
        <ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
          <id>{{ host.facts.ospf.id }}</id>
          <router-id>{{ host.facts.ospf.rid }}</router-id>
          {% for n in host.facts.ospf.networks %}
          <network>
            <ip>{{ n.ip }}</ip>
            <mask>{{ n.mask }}</mask>
            <area>{{ n.area }}</area>
          </network>
          {% endfor %}
        </ospf>
        {% endif %}
        {% if host.facts.bgp is defined %}
        <bgp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-bgp">
          <id>{{ host.facts.bgp.id }}</id>
          <bgp>
            <log-neighbor-changes>true</log-neighbor-changes>
            <router-id>
              <ip-id>{{ host.facts.bgp.rid }}</ip-id>
            </router-id>
          </bgp>
          {% for n in host.facts.bgp.neighbors %}
          <neighbor>
            <id>{{ n.id }}</id>
            <remote-as>{{ n.as }}</remote-as>
            <update-source>
              <Loopback>{{ n.loopsource }}</Loopback>
            </update-source>
          </neighbor>
          {% endfor %}
          <address-family>
            <no-vrf>
              <ipv4>
                <af-name>unicast</af-name>
                <ipv4-unicast>
                  {% for n in host.facts.bgp.ipv4_unicast_family %}
                  <neighbor>
                    <id>{{ n.neighborid }}</id>
                    <activate/>
                  </neighbor>
                  {% endfor %}
                  {% for n in host.facts.bgp.networks %}
                  <network>
                    <with-mask>
                      <number>{{ n.number }}</number>
                      <mask>{{ n.mask }}</mask>
                    </with-mask>
                  </network>
                  {% endfor %}
                </ipv4-unicast>
              </ipv4>
              <ipv4>
                <af-name>multicast</af-name>
              </ipv4>
            </no-vrf>
          </address-family>
        </bgp>
        {% endif %}
        {% if host.facts.eigrp is defined %}
        <eigrp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-eigrp">
          <id>{{ host.facts.eigrp.name }}</id>
          <address-family>
            <type>ipv4</type>
            <af-ip-list>
              <unicast-multicast>unicast</unicast-multicast>
              <autonomous-system>{{ host.facts.eigrp.as }}</autonomous-system>
              <eigrp>
                <router-id>{{ host.facts.eigrp.rid }}</router-id>
              </eigrp>
              {% for n in host.facts.eigrp.networks %}
              <network>
                <number>{{ n.number }}</number>
                <wild-card>{{ n.wildcard }}</wild-card>
              </network>
              {% endfor %}
              <topology>
                <base/>
              </topology>
            </af-ip-list>
          </address-family>
        </eigrp>
        {% endif %}
      </router>
    </native>
  </config>
