  <config>
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
      <ip operation="replace">
        {% for n in host.facts.ip.vrf %}
        <vrf>
          <name>{{ n.name }}</name>
          <description>{{ n.description }}</description>
        </vrf>
        {% endfor %}
        <domain>
          <name>{{ host.facts.ip.domain }}</name>
        </domain>
        <forward-protocol>
          <protocol>nd</protocol>
        </forward-protocol>
        {% if host.facts.ip.static_routes is defined %}
        {% for n in host.facts.ip.static_routes %}
        <route>
          <ip-route-interface-forwarding-list>
            <prefix>{{ n.network }}</prefix>
            <mask>{{ n.mask }}</mask>
            <fwd-list>
              <fwd>{{ n.fwd }}</fwd>
            </fwd-list>
          </ip-route-interface-forwarding-list>
        </route>
        {% endfor %}
        {% endif %}
        <ssh>
          <version>2</version>
        </ssh>
        <tftp>
          <source-interface>
            <GigabitEthernet>{{ host.facts.ip.tftp_source_gi_int }}</GigabitEthernet>
          </source-interface>
        </tftp>
        <access-list>
          <extended xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl">
            <name>meraki-fqdn-dns</name>
          </extended>
          {% if host.facts.ip.extended_acl is defined %}
          {% for acl in host.facts.ip.extended_acl %}
          <extended xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl">
            <name>{{ acl.name }}</name>
            {% for seq in acl.sequences %}
            <access-list-seq-rule>
              <sequence>{{ seq.number }}</sequence>
              <ace-rule>
                <action>{{ seq.action }}</action>
                <protocol>{{ seq.protocol }}</protocol>
                {% if seq.srcip is defined %}
                <ipv4-address>{{ seq.srcip }}</ipv4-address>
                <mask>{{ seq.srcmask }}</mask>
                {% elif seq.srcany is defined %}
                <any/>
                {% endif %}
                {% if seq.destip is defined %}
                <dest-ipv4-address>{{ seq.destip }}</dest-ipv4-address>
                <dest-mask>{{ seq.destmask }}</dest-mask>
                {% elif seq.destany is defined %}
                <dst-any/>
                {% endif %}
              </ace-rule>
            </access-list-seq-rule>
            {% endfor %}
          </extended>
          {% endfor %}
          {% endif %}
        </access-list>
        <http xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-http">
          <authentication>
            <local/>
          </authentication>
          <server>true</server>
          <secure-server>true</secure-server>
          <client>
            <source-interface> {{ host.facts.ip.source_interface }}</source-interface>
          </client>
        </http>
      </ip>
    </native>
  </config>