  <config>
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
      <enable operation="replace">
        <secret>
          <type>9</type>
          <secret>$9$5spXfpjbtskouk$FtW8jyp8aujkcRLZPmtsDfOoL57Qhn3FIxYt0E6HBjM</secret>
        </secret>
      </enable>
    </native>
  </config>